.root {
  background-color: #000;
  min-height: 100vh;
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: transform .5s ease;
}

@media screen and (max-width: 980px) {
  .root {
    padding-bottom: 36px;
  }
}
