.auth__link {
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  transition: opacity .5s ease;
}

.auth__link:hover {
  opacity: .6;
}

@media screen and (max-width: 540px) {
  .auth__link {
    font-size: 12px;
    line-height: 15px;
  }
}