.user-info {
  margin-bottom: 50px;
  margin-top: 40px;
  color: #fff;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 980px) {
  .user-info {
    flex-direction: column;
  }
} 
