.auth__button {
  width: 100%;
  height: 50px;
  background: #fff;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: rgba(0, 0, 0, .2);
  margin-top: 216px;
  cursor: default;
}

@media screen and (max-width: 540px) {
  .auth__button {
    height: 46px;
    margin-top: 173px;
    font-size: 16px;
    line-height: 19px;
  }
}